@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Propmt-Regular";
  src: url("/public//font//Prompt-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Propmt-Regular";
}