@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Propmt-Regular";
  src: url("/src/assets/font/Prompt-Regular.ttf");
}

* {

  font-family: "Propmt-Regular";
  box-sizing: border-box;
}